@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
    
}
body {
    background-color: #dddddd;
    color: rgba(black, black, black, 1);
    font-family: 'Baloo Bhaijaan 2', sans-serif;    
}

div#inteface {
    width: 1000px;
    background-color:white;
    margin: -20px auto 0px auto;    
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    padding: 10px;   
}
p{
    text-align: justify;
    text-indent: 50px;
    margin-left: 10px;
}
a {
    color: #606060;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #444141;
}

header#cabecalho img#icone{
    position:absolute;
    left: 1290px;
    top: 82px;    
}

header#cabecalho img#icone1{
    position:absolute;
    left: 830px;
    top: 200px; 
    width: 7%    
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background:url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}
 header#cabecalho h1{
     font-family: 'FonteLogo', sans-serif;
     font-size: 30pt;
     color: #606060;
     text-shadow: 1px 2px 2px rgba(0, 0, 0, .6);
     padding: 0px;
     margin-bottom: 0px;
 }
 header#cabecalho h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15pt;
    color: rgb(156, 34, 34);
    padding: 0px;
    margin-top: 4px;    
 }
 
/*Formatação de imagens com legendas */

/*.oculospequeno{
        margin-left: 300px;
       width:80px;
       height: 80px;
}*/

figure.foto-legenda{
    position: relative;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 2px black;    
}
figure.foto-legenda img{
    width: 100%;
    height: 100%; 
     
}
section#corpo figure figcaption h2{
    color:white;      
    background-color: rgba(0, 0, 0, .1);
    box-sizing: border-box;    
}

figure.foto-legenda figcaption{
    position: absolute;
    opacity: 0;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px 0px 0px 0px;
    box-sizing: border-box;
    transition: opacity 1s;    
}
figure.foto-legenda:hover figcaption{
    opacity: 1;      
}

/* Formatação do Menu */
nav#menu {
    display:block;
    
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px; 
    left: 990px; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15pt;

}
nav#menu li{
    display:inline-block;    
    background-color: darkgrey;
    padding: 10px;
    margin: 0px; 
    transition: background-color 1s;    
}

nav#menu li:hover{
    background-color:rgb(97, 100, 100);    
}
nav#menu h1 {
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}
nav#menu a:hover{
    color:white;
    text-decoration: underline;
}

/* Formatação corpo principal */
section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px;
    
}
article#noticia-principal h2 {
    font-size: 20pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px  0px 10px 10px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
.direita{
    text-align: right;
}
header#cabecalho-artigo h2{
    font-size: 20pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:rgb(156, 34, 34);
    background-color: #ffffff;
    margin: 0px;
}
header#cabecalho-artigo h3{
    font-size: 15pt;
    color:#606060;
}

table#tablespec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 4px black;
}
table#tablespec td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;   
}
table#tablespec td.ce{
    color:white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}
table#tablespec td.cd{   
    background-color: #cececece;

}
table#tablespec caption{
    color:#888;
    font-size: 15pt;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
table#tablespec caption span{
    display:block;
    float:right;
    color:#100b38;
    font-size:8pt;
    margin-top: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Formatação do lado direito*/
aside#lateral{
    display: block;
    width: 440px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;    
    background-color:#cececece;
    box-shadow: 1px 1px 4px black;
    padding: 0.0em 0.5em 0.5em
}
aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 20pt;
}
aside#lateral h2{
    font-size: 20pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    background-color: #888;
    padding: 5px 0px 5px 10px;
    margin: 10px  0px 10px 0px;
   
    
}

/*Formação do Rodapé*/
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;    
}
footer#rodape{
    text-align: center;
}
